<nav class="pcoded-navbar" pcoded-header-position="relative">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">EMD Suite</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <span class="pcoded-micon"><i class="feather icon-grid"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard" , new { area = "DealersManage" }, null)">
                    <span class="pcoded-mtext">Dealer App</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard" , new { area = "TenderLink" }, null)">
                    <span class="pcoded-mtext">Tender Link App</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard" , new { area = "EmdManage" }, null)">
                    <span class="pcoded-mtext">EMD App</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard" , new { area = "InvoiceManage" }, null)">
                    <span class="pcoded-mtext">Invoice App</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard" , new { area = "WebsiteManage" }, null)">
                    <span class="pcoded-mtext">Website App</span>
                </a>
            </li>
        </ul>
        
    </div>
</nav>